

.projects {
  height: 100vh;
  width: 100%;
}

#back-button{
  width: 70px;
  height: 50px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  transition: all 0.5s ease-in;
}

#arrow {
  font-size: 25px;
  text-decoration: none;
  margin-right: 5px;
}

#back-button p{
  font-family: "Eczar", serif;
}

#back-button:hover {
  color:#7f72d9;
}

.project-description {
  display: flex;
  flex-direction: row;
}

.project-description img {
  width: 400px;
  border-radius: 10px;
  margin: 10px;
}
.project-description img:hover {
  box-shadow: 0 0 10px gray;
}

.description {
  margin-left: 30px;
}

.project-description h3{
  font-family: "Eczar", serif;
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 0;
}

.project-description h4{
  font-family: "Cormorant Garamond", serif;
  font-size: 20px;
  margin-bottom: 0px;
  margin-top: -10px;
}

.tags{
  margin-top: 0px;
  display: block
}

.tags > p{
  background-color: lightgray;
  font-family: "Cormorant Garamond", serif; 
  font-size: 18px;
  color:black;
  width: 150px;
  text-align: center;
  padding: 8px 15px;
  border-radius: 10px;
  border: 1px solid black;
  transition: color 0.5s ease-in;
  margin: 8px 0;
}

.tags > p:hover {
  color: #7f72d9;
}

/* #name {
  font-family: "Eczar", serif;
  font-size: 50px;
  margin-bottom: -30px;
}

#title {
  font-family: "Cormorant Garamond", serif; */